 footer {
    background-color: #1B262F;
}

 footer .linkkk {
    color: #6C8294;
    transition: 0.3s;
}

footer .linkkk:hover {
    color: #FBFCFE;
}
.cbg{
    right:-250px;
    top: -50px;
}
@media (max-width:767px) {
    .cbg{
right: 0px;
    top: 121px;
}
}

