ul{
    list-style: none;
    padding: 0;
    margin-top: 0;
}
ul .linkk{
    color: #36536B;
}
.demo{
    font-size: 15px;
    color: #FBFCFE;
    background-color: #BA4270;
    border-radius: 20px;
    cursor: pointer;
    z-index:3;
}
html{
    background-color: #F2F2F2;
}
.body{
    background-color: #F2F2F2;
}

@media (max-width:767px) {
    .menuRes{
        flex-direction: column;
        position: absolute;
        z-index: 3;
        background-color: black;
        width: 300px;
        height: 667px;
        right: 0;
        z-index: 100;
        top: 0px;
        padding: 20px;
    }

    
    .linkss{
        display: flex;
        flex-direction: column;
        padding: 0;
        border-width: 1px;
            border-style: solid;
            border-color: #979797 transparent transparent;
            position: relative;
            top: 200px;
            transform: translateY(-50%);
            padding-top: 50px;
    }
    .linkss .linkk{
        color: #FBFCFE;
        margin: 10px 0;
        font-weight: bold;
    }
    .demo{
        width: 100%;
        text-align: center;
        padding: 10px 0;
        top: 130px;
        position: relative;
    }
    .closeIcon{
        position: absolute;
        right: 30px;
        top: 80px;
    }
}

