.ready form input:nth-child(1) {
    border: none;
    border-radius: 30px;
    color: #36536B;
    background-color: white;
}

.ready form input:nth-child(1):focus {
    outline: none;
}

.ready form input:nth-child(2) {
    border: none;
    border-radius: 30px;
    transform: translateX(-50px);
}
.ready  h1{
    font-size: 48px;
    color: #36536B;
    font-family: 'Open Sans', sans-serif;
}
.demooo{
    font-size: 15px;
        color: #FBFCFE;
        background-color: #BA4270;
        border-radius: 20px;
        cursor: pointer;
}
@media (max-width:767px) {
    .ready h1 {
            font-size: 32px;
            color: #36536B;
            font-family: 'Open Sans', sans-serif;
        }
                .ready form input:nth-child(2) {
                    border: none;
                    border-radius: 30px;
                    transform: translateX(0);
                }
}